### Imports

In [1]:
import pandas as pd
from instagrapi import Client
import time
from itertools import cycle
import ast
import json

import networkx as nx
from pyvis.network import Network
import community.community_louvain as community_louvain

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#### Assess instagrapi

In [2]:
# Cred constants
ACCOUNT_USERNAME = '****'
ACCOUNT_PASSWORD = '****'

In [3]:
# Connect to the instagrapi client
cl = Client()
cl.login(ACCOUNT_USERNAME, ACCOUNT_PASSWORD)

True

In [4]:
# Delay in requests to mimic the real user 
cl.delay_range = [1, 3]

### Load and preapre the data

In [5]:
user_friends = pd.read_csv('data/user_friends.csv')
user_friends

,Unnamed: 0,id,friends_id,num_following
0,0,54120777372,['371806449'],1
1,1,191716116,"['56518990213', '528817151', '13460080', '2309...",1039
2,2,16596631,"['56518990213', '259220806', '6739053665', '58...",579
3,3,44577963743,"['56518990213', '46023299420', '43055553379', ...",185
4,4,58618143472,"['56518990213', '1333014392', '314834803', '59...",205
...,...,...,...,...
355,355,970260212,"['56518990213', '10480357', '695995017', '5123...",1327
356,356,2045670253,"['56518990213', '259220806', '25945306', '1842...",1032
357,357,30989427735,"['56518990213', '212971662', '54858589934', '1...",145
358,358,332849787,"['56518990213', '460563723', '8032582326', '22...",411
359,359,1028011269,"['56518990213', '528817151', '7215181468', '65...",938

In [6]:
user_friends['friends_id'] = user_friends['friends_id'].apply(ast.literal_eval)

In [7]:
# Unpack the friend_id column so there're pairs of id-friend_id
pairs = []

for _, row in user_friends.iterrows():
    id_value = row['id']
    friends_list = row['friends_id']
    
    for friend in friends_list:
        pairs.append({'id': id_value, 'friend_id': friend})

In [8]:
pairs_df = pd.DataFrame(pairs)
pairs_df

                 id    friend_id
0       54120777372    371806449
1         191716116  56518990213
2         191716116    528817151
3         191716116     13460080
4         191716116     23098233
...             ...          ...
259296   1028011269   1629085051
259297   1028011269   2220681721
259298   1028011269  28097051580
259299   1028011269   2860332499
259300   1028011269  46085790301

[259301 rows x 2 columns]

In [34]:
pairs_df.to_csv('data/pairs_df.csv')

In [9]:
# Let's look at the accounts our followers follow the most
top_following = pd.DataFrame(pairs_df[['friend_id']].value_counts()).reset_index()
top_following.head(30)

      friend_id  count
0   56518990213    354
1    8577689525     98
2   53842752932     91
3       9777455     87
4   52236156625     86
5       6380930     86
6      16516077     86
7     528817151     82
8    3154258315     77
9   52742526132     74
10  19781615610     69
11   2119656664     65
12   7101506034     64
13       787132     62
14     29716451     61
15   4117527067     60
16     12281817     59
17   6547571948     59
18    460563723     59
19  56568936029     59
20   6761768992     58
21     12995776     57
22   3660714283     57
23     25945306     55
24  39128469026     55
25  58438294509     55
26  44345110275     55
27    198154074     55
28  13760774752     54
29   7761896532     52

In [10]:
# Cut to the 100 (+1) most popular pages
top_100_following = top_following[0:100]

In [11]:
# Get the username of most followed pages
top_100_following['top_friend_username'] = top_100_following['friend_id'].apply(lambda x: cl.username_from_user_id(x))
top_100_following

C:\Users\79234\AppData\Local\Temp\ipykernel_12208\1096160210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_100_following['top_friend_username'] = top_100_following['friend_id'].apply(lambda x: cl.username_from_user_id(x))

      friend_id  count top_friend_username
0   56518990213    354       frames__store
1    8577689525     98     magnoliafilmlab
2   53842752932     91   retro_camera_shop
3       9777455     87             zendaya
4   52236156625     86        tbilisi_pike
..          ...    ...                 ...
95  43851908194     36           tes_club_
96   6953843386     36       lechicradical
97  37130712232     36        sportsmoodco
98    220428576     36          irinashayk
99   1692288216     36         marketer.ge

[100 rows x 3 columns]

In [19]:
top_100_following.to_csv('data/top_100_following.csv')

In [35]:
top_100_following.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           100 non-null    int64
 1   friend_id            100 non-null    int64
 2   count                100 non-null    int64
 3   top_friend_username  100 non-null    object
dtypes: int64(3), object(1)
memory usage: 3.3+ KB

In [36]:
pairs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259301 entries, 0 to 259300
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         259301 non-null  int64
 1   friend_id  259301 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.0+ MB

In [39]:
# Transforming id to string for filter and graph visualization later
top_100_following['friend_id'] = top_100_following['friend_id'].apply(lambda x: str(x))

In [40]:
# Sebset of id-friends_id where friends_id is one of the most popular pages
pairs_with_100_following = pairs_df[pairs_df['friend_id'].isin(top_100_following['friend_id'])]
pairs_with_100_following

                id    friend_id
1        191716116  56518990213
2        191716116    528817151
97       191716116  52236156625
632      191716116  32163385284
1040      16596631  56518990213
...            ...          ...
258914  1028011269   7761896532
258987  1028011269  39128469026
259004  1028011269  45695766729
259009  1028011269  32994954632
259019  1028011269   2061572722

[5176 rows x 2 columns]

In [41]:
# Adding the page names
pairs_with_100_following = pd.merge(pairs_with_100_following, top_100_following[['friend_id','top_friend_username']], how = 'left', on = 'friend_id')
pairs_with_100_following

              id    friend_id  top_friend_username
0      191716116  56518990213        frames__store
1      191716116    528817151                 nasa
2      191716116  52236156625         tbilisi_pike
3      191716116  32163385284   plantloverstbilisi
4       16596631  56518990213        frames__store
...          ...          ...                  ...
5171  1028011269   7761896532           matters.ge
5172  1028011269  39128469026        printshop_jpg
5173  1028011269  45695766729        retro_bazaari
5174  1028011269  32994954632  the_arthousegallery
5175  1028011269   2061572722             b.azzzar

[5176 rows x 3 columns]

### Network Visualization
Let's try to build a network to explore the relationship between top pages

In [44]:
# Since pairs_with_100_following has 5176 rows and it might be too big for visualization, let's take top 10 pages
pairs_top_10 = pairs_with_100_following[pairs_with_100_following['friend_id'].isin(top_100_following['friend_id'][0:9])]
pairs_top_10

              id    friend_id top_friend_username
0      191716116  56518990213       frames__store
1      191716116    528817151                nasa
2      191716116  52236156625        tbilisi_pike
4       16596631  56518990213       frames__store
6       16596631      9777455             zendaya
...          ...          ...                 ...
5137   332849787  56518990213       frames__store
5144   332849787   8577689525     magnoliafilmlab
5149  1028011269  56518990213       frames__store
5150  1028011269    528817151                nasa
5165  1028011269   8577689525     magnoliafilmlab

[1047 rows x 3 columns]

In [52]:
G = nx.from_pandas_edgelist(pairs_top_10, 
                            source = "id", 
                            target = "top_friend_username", 
                            create_using = nx.Graph())

In [53]:
net = Network(notebook = True,
            cdn_resources='in_line', 
            width="1000px", 
            height="700px", 
            bgcolor='#ffffff', 
            font_color='black',
            select_menu=True,
            filter_menu=True)

net.show_buttons()
net.toggle_physics(True)

node_degree = dict(G.degree)

#Setting up node size attribute
nx.set_node_attributes(G, node_degree, 'size')

In [54]:
# Check the attributes
for node, attributes in G.nodes(data=True):
    print("Node:", node)
    print("Attributes:", attributes)

Node: 191716116
Attributes: {'size': 3}
Node: frames__store
Attributes: {'size': 354}
Node: nasa
Attributes: {'size': 82}
Node: tbilisi_pike
Attributes: {'size': 86}
Node: 16596631
Attributes: {'size': 4}
Node: zendaya
Attributes: {'size': 87}
Node: magnoliafilmlab
Attributes: {'size': 98}
Node: 44577963743
Attributes: {'size': 2}
Node: 58618143472
Attributes: {'size': 1}
Node: 2060188988
Attributes: {'size': 2}
Node: 50697580948
Attributes: {'size': 1}
Node: 1571238388
Attributes: {'size': 4}
Node: kendalljenner
Attributes: {'size': 86}
Node: bellahadid
Attributes: {'size': 86}
Node: 325129721
Attributes: {'size': 4}
Node: tavisupleba
Attributes: {'size': 77}
Node: 8524860861
Attributes: {'size': 1}
Node: 24377708608
Attributes: {'size': 5}
Node: retro_camera_shop
Attributes: {'size': 91}
Node: 1471161400
Attributes: {'size': 3}
Node: 31141223158
Attributes: {'size': 3}
Node: 61160304079
Attributes: {'size': 2}
Node: 37330553
Attributes: {'size': 3}
Node: 40166693794
Attributes: {'size': 1}
Node: 8298668493
Attributes: {'size': 4}
Node: 8309739718
Attributes: {'size': 2}
Node: 1578693655
Attributes: {'size': 1}
Node: 7826439257
Attributes: {'size': 4}
Node: 13699554131
Attributes: {'size': 3}
Node: 22278598
Attributes: {'size': 2}
Node: 1480658700
Attributes: {'size': 2}
Node: 60670951218
Attributes: {'size': 2}
Node: 3959553998
Attributes: {'size': 2}
Node: 25614291322
Attributes: {'size': 2}
Node: 50182393001
Attributes: {'size': 5}
Node: 1582874416
Attributes: {'size': 2}
Node: 9787025840
Attributes: {'size': 1}
Node: 322609989
Attributes: {'size': 3}
Node: 7489410579
Attributes: {'size': 5}
Node: 2224028256
Attributes: {'size': 4}
Node: 3022692207
Attributes: {'size': 2}
Node: 4386168328
Attributes: {'size': 6}
Node: 578771345
Attributes: {'size': 7}
Node: 46952542198
Attributes: {'size': 3}
Node: 610659644
Attributes: {'size': 2}
Node: 2194048764
Attributes: {'size': 4}
Node: 60865960359
Attributes: {'size': 1}
Node: 43987615288
Attributes: {'size': 5}
Node: 52135797186
Attributes: {'size': 3}
Node: 44925466492
Attributes: {'size': 1}
Node: 5550200854
Attributes: {'size': 3}
Node: 6226213643
Attributes: {'size': 2}
Node: 4034439838
Attributes: {'size': 2}
Node: 2404649774
Attributes: {'size': 6}
Node: 1641450812
Attributes: {'size': 2}
Node: 6829302706
Attributes: {'size': 2}
Node: 731042650
Attributes: {'size': 3}
Node: 6845523655
Attributes: {'size': 2}
Node: 53936477670
Attributes: {'size': 4}
Node: 1352538115
Attributes: {'size': 9}
Node: 60010830560
Attributes: {'size': 3}
Node: 31740891635
Attributes: {'size': 2}
Node: 1481028107
Attributes: {'size': 6}
Node: 2098279984
Attributes: {'size': 5}
Node: 178536429
Attributes: {'size': 2}
Node: 61044530036
Attributes: {'size': 3}
Node: 49107581871
Attributes: {'size': 3}
Node: 31281275590
Attributes: {'size': 3}
Node: 2946700605
Attributes: {'size': 2}
Node: 1969032215
Attributes: {'size': 4}
Node: 1814530430
Attributes: {'size': 3}
Node: 1274841167
Attributes: {'size': 2}
Node: 1204786883
Attributes: {'size': 1}
Node: 52680529035
Attributes: {'size': 2}
Node: 9925411125
Attributes: {'size': 1}
Node: 50372911888
Attributes: {'size': 1}
Node: 4870493082
Attributes: {'size': 3}
Node: 1514585612
Attributes: {'size': 6}
Node: 59809985355
Attributes: {'size': 2}
Node: 1495126548
Attributes: {'size': 1}
Node: 54646049545
Attributes: {'size': 4}
Node: 1466526767
Attributes: {'size': 1}
Node: 2343695059
Attributes: {'size': 3}
Node: 57397480876
Attributes: {'size': 2}
Node: 6111225747
Attributes: {'size': 5}
Node: 1040770661
Attributes: {'size': 3}
Node: 2057872829
Attributes: {'size': 4}
Node: 1919440636
Attributes: {'size': 1}
Node: 11838161345
Attributes: {'size': 2}
Node: 10700213619
Attributes: {'size': 2}
Node: 13789978322
Attributes: {'size': 3}
Node: 21309145370
Attributes: {'size': 3}
Node: 212037399
Attributes: {'size': 4}
Node: 49690407209
Attributes: {'size': 4}
Node: 1784477275
Attributes: {'size': 5}
Node: 1507048589
Attributes: {'size': 4}
Node: 2007001052
Attributes: {'size': 1}
Node: 1612344876
Attributes: {'size': 2}
Node: 3666107384
Attributes: {'size': 5}
Node: 42631648
Attributes: {'size': 2}
Node: 3611725882
Attributes: {'size': 2}
Node: 2999161289
Attributes: {'size': 3}
Node: 3220671669
Attributes: {'size': 4}
Node: 38327327350
Attributes: {'size': 2}
Node: 31277989975
Attributes: {'size': 3}
Node: 49144785488
Attributes: {'size': 1}
Node: 37239952215
Attributes: {'size': 1}
Node: 1479964606
Attributes: {'size': 2}
Node: 58709522786
Attributes: {'size': 3}
Node: 398107840
Attributes: {'size': 6}
Node: 3174196418
Attributes: {'size': 2}
Node: 4622899523
Attributes: {'size': 1}
Node: 18478290
Attributes: {'size': 3}
Node: 5482763653
Attributes: {'size': 3}
Node: 4047157054
Attributes: {'size': 1}
Node: 3300669675
Attributes: {'size': 1}
Node: 2577526108
Attributes: {'size': 5}
Node: 1317370812
Attributes: {'size': 2}
Node: 1715028969
Attributes: {'size': 3}
Node: 555195782
Attributes: {'size': 3}
Node: 1924183752
Attributes: {'size': 1}
Node: 1507416936
Attributes: {'size': 1}
Node: 177166258
Attributes: {'size': 1}
Node: 1242791441
Attributes: {'size': 5}
Node: 1517762718
Attributes: {'size': 3}
Node: 4191211134
Attributes: {'size': 4}
Node: 59937897273
Attributes: {'size': 2}
Node: 197213325
Attributes: {'size': 2}
Node: 47370416868
Attributes: {'size': 2}
Node: 1930503237
Attributes: {'size': 2}
Node: 2089208590
Attributes: {'size': 2}
Node: 56377501482
Attributes: {'size': 1}
Node: 59927186966
Attributes: {'size': 3}
Node: 1490761839
Attributes: {'size': 7}
Node: 1190052235
Attributes: {'size': 5}
Node: 10660623834
Attributes: {'size': 3}
Node: 59086318943
Attributes: {'size': 1}
Node: 341370542
Attributes: {'size': 3}
Node: 2253705621
Attributes: {'size': 1}
Node: 51538057616
Attributes: {'size': 1}
Node: 7303699011
Attributes: {'size': 2}
Node: 4558430929
Attributes: {'size': 2}
Node: 15753950533
Attributes: {'size': 3}
Node: 5923810578
Attributes: {'size': 4}
Node: 4251383605
Attributes: {'size': 1}
Node: 4501369947
Attributes: {'size': 3}
Node: 705887263
Attributes: {'size': 2}
Node: 1540799646
Attributes: {'size': 3}
Node: 2103538082
Attributes: {'size': 4}
Node: 4521842586
Attributes: {'size': 3}
Node: 1190700349
Attributes: {'size': 1}
Node: 8376715125
Attributes: {'size': 3}
Node: 7748353376
Attributes: {'size': 1}
Node: 26243806928
Attributes: {'size': 4}
Node: 464043945
Attributes: {'size': 3}
Node: 12497680788
Attributes: {'size': 5}
Node: 1235125767
Attributes: {'size': 6}
Node: 27534038077
Attributes: {'size': 4}
Node: 1641276005
Attributes: {'size': 4}
Node: 4149373064
Attributes: {'size': 4}
Node: 1901426495
Attributes: {'size': 2}
Node: 551926783
Attributes: {'size': 5}
Node: 55250285627
Attributes: {'size': 6}
Node: 11920664792
Attributes: {'size': 1}
Node: 49618181765
Attributes: {'size': 1}
Node: 1451790235
Attributes: {'size': 1}
Node: 41225067043
Attributes: {'size': 2}
Node: 399122858
Attributes: {'size': 2}
Node: 2367010940
Attributes: {'size': 2}
Node: 3162067318
Attributes: {'size': 1}
Node: 2021796564
Attributes: {'size': 3}
Node: 7791358321
Attributes: {'size': 1}
Node: 3095387060
Attributes: {'size': 3}
Node: 402673754
Attributes: {'size': 5}
Node: 367081863
Attributes: {'size': 2}
Node: 45044747975
Attributes: {'size': 3}
Node: 6437726761
Attributes: {'size': 6}
Node: 6811358838
Attributes: {'size': 5}
Node: 1046099470
Attributes: {'size': 4}
Node: 4368842444
Attributes: {'size': 1}
Node: 1410511186
Attributes: {'size': 1}
Node: 631138771
Attributes: {'size': 1}
Node: 57736239582
Attributes: {'size': 4}
Node: 58860463571
Attributes: {'size': 3}
Node: 55999845485
Attributes: {'size': 2}
Node: 531061693
Attributes: {'size': 2}
Node: 2074938003
Attributes: {'size': 5}
Node: 4252974302
Attributes: {'size': 1}
Node: 3995590912
Attributes: {'size': 3}
Node: 1004593745
Attributes: {'size': 7}
Node: 18614691
Attributes: {'size': 3}
Node: 1981374425
Attributes: {'size': 5}
Node: 45392631271
Attributes: {'size': 2}
Node: 41435562388
Attributes: {'size': 1}
Node: 1142482446
Attributes: {'size': 3}
Node: 44976055230
Attributes: {'size': 2}
Node: 44106247334
Attributes: {'size': 4}
Node: 1298834960
Attributes: {'size': 1}
Node: 1469148802
Attributes: {'size': 2}
Node: 8154135513
Attributes: {'size': 5}
Node: 2354787601
Attributes: {'size': 2}
Node: 5758938399
Attributes: {'size': 1}
Node: 1955104436
Attributes: {'size': 4}
Node: 212682504
Attributes: {'size': 2}
Node: 2244760884
Attributes: {'size': 4}
Node: 1540153974
Attributes: {'size': 1}
Node: 49995234158
Attributes: {'size': 3}
Node: 7725730039
Attributes: {'size': 8}
Node: 8476904215
Attributes: {'size': 4}
Node: 1442585654
Attributes: {'size': 2}
Node: 36301869
Attributes: {'size': 2}
Node: 833807517
Attributes: {'size': 2}
Node: 1478906782
Attributes: {'size': 6}
Node: 5591773484
Attributes: {'size': 1}
Node: 7013296283
Attributes: {'size': 2}
Node: 26321966
Attributes: {'size': 1}
Node: 7532103111
Attributes: {'size': 3}
Node: 5777906229
Attributes: {'size': 4}
Node: 10962007
Attributes: {'size': 3}
Node: 1962847047
Attributes: {'size': 2}
Node: 1662788454
Attributes: {'size': 5}
Node: 18128807825
Attributes: {'size': 4}
Node: 3197004796
Attributes: {'size': 3}
Node: 51485606631
Attributes: {'size': 2}
Node: 264826450
Attributes: {'size': 3}
Node: 9259826380
Attributes: {'size': 3}
Node: 5647522791
Attributes: {'size': 1}
Node: 517392713
Attributes: {'size': 2}
Node: 18757780
Attributes: {'size': 3}
Node: 54506664444
Attributes: {'size': 3}
Node: 245297435
Attributes: {'size': 3}
Node: 6080857708
Attributes: {'size': 3}
Node: 3281935
Attributes: {'size': 3}
Node: 12021658
Attributes: {'size': 4}
Node: 1432839807
Attributes: {'size': 3}
Node: 1641155154
Attributes: {'size': 2}
Node: 489268265
Attributes: {'size': 4}
Node: 1364363378
Attributes: {'size': 3}
Node: 48935890619
Attributes: {'size': 2}
Node: 26471147102
Attributes: {'size': 1}
Node: 5599239086
Attributes: {'size': 2}
Node: 4308126762
Attributes: {'size': 2}
Node: 58434270954
Attributes: {'size': 3}
Node: 2203936946
Attributes: {'size': 5}
Node: 58463513968
Attributes: {'size': 3}
Node: 1323561969
Attributes: {'size': 3}
Node: 3974255108
Attributes: {'size': 1}
Node: 4238785749
Attributes: {'size': 4}
Node: 6573365099
Attributes: {'size': 5}
Node: 58288050140
Attributes: {'size': 1}
Node: 5954609000
Attributes: {'size': 7}
Node: 46778349315
Attributes: {'size': 1}
Node: 45217576505
Attributes: {'size': 3}
Node: 906384395
Attributes: {'size': 3}
Node: 3951516117
Attributes: {'size': 4}
Node: 8399776279
Attributes: {'size': 2}
Node: 1290250744
Attributes: {'size': 4}
Node: 6160971823
Attributes: {'size': 3}
Node: 288963669
Attributes: {'size': 3}
Node: 5491743221
Attributes: {'size': 1}
Node: 46685401387
Attributes: {'size': 3}
Node: 1582689504
Attributes: {'size': 2}
Node: 49899055592
Attributes: {'size': 1}
Node: 46750835934
Attributes: {'size': 4}
Node: 2052366026
Attributes: {'size': 2}
Node: 24404802424
Attributes: {'size': 1}
Node: 289134079
Attributes: {'size': 1}
Node: 29669719036
Attributes: {'size': 2}
Node: 1444525206
Attributes: {'size': 1}
Node: 8097594798
Attributes: {'size': 3}
Node: 14678573769
Attributes: {'size': 1}
Node: 55525084607
Attributes: {'size': 2}
Node: 373620289
Attributes: {'size': 5}
Node: 1332542660
Attributes: {'size': 2}
Node: 30370033520
Attributes: {'size': 2}
Node: 2520418006
Attributes: {'size': 7}
Node: 1149199802
Attributes: {'size': 4}
Node: 7634680433
Attributes: {'size': 4}
Node: 41008724308
Attributes: {'size': 2}
Node: 34366270598
Attributes: {'size': 2}
Node: 2023455634
Attributes: {'size': 6}
Node: 8906276597
Attributes: {'size': 2}
Node: 32823735596
Attributes: {'size': 1}
Node: 1330485765
Attributes: {'size': 3}
Node: 55568154051
Attributes: {'size': 3}
Node: 14516191373
Attributes: {'size': 5}
Node: 2307492714
Attributes: {'size': 7}
Node: 58931494855
Attributes: {'size': 1}
Node: 7217396795
Attributes: {'size': 3}
Node: 4619773603
Attributes: {'size': 3}
Node: 3825345155
Attributes: {'size': 1}
Node: 6304694972
Attributes: {'size': 2}
Node: 3023248327
Attributes: {'size': 2}
Node: 368499688
Attributes: {'size': 4}
Node: 517133065
Attributes: {'size': 3}
Node: 7232612275
Attributes: {'size': 2}
Node: 3993645974
Attributes: {'size': 6}
Node: 808354141
Attributes: {'size': 7}
Node: 49151397502
Attributes: {'size': 2}
Node: 1549117596
Attributes: {'size': 2}
Node: 21421891114
Attributes: {'size': 5}
Node: 46119475175
Attributes: {'size': 1}
Node: 1609625414
Attributes: {'size': 1}
Node: 320556882
Attributes: {'size': 2}
Node: 3960795580
Attributes: {'size': 2}
Node: 3265550825
Attributes: {'size': 2}
Node: 8290756789
Attributes: {'size': 4}
Node: 4174079110
Attributes: {'size': 4}
Node: 46014333941
Attributes: {'size': 3}
Node: 27015307043
Attributes: {'size': 5}
Node: 5111477774
Attributes: {'size': 6}
Node: 48430375824
Attributes: {'size': 1}
Node: 49516990621
Attributes: {'size': 2}
Node: 314934883
Attributes: {'size': 6}
Node: 49492960994
Attributes: {'size': 3}
Node: 8159903997
Attributes: {'size': 3}
Node: 58293124922
Attributes: {'size': 2}
Node: 1303130882
Attributes: {'size': 1}
Node: 378199918
Attributes: {'size': 3}
Node: 4024985995
Attributes: {'size': 6}
Node: 57723748872
Attributes: {'size': 2}
Node: 50863256
Attributes: {'size': 4}
Node: 3279101498
Attributes: {'size': 6}
Node: 1911880007
Attributes: {'size': 6}
Node: 5562303330
Attributes: {'size': 1}
Node: 33168866925
Attributes: {'size': 2}
Node: 8527988325
Attributes: {'size': 3}
Node: 28324951882
Attributes: {'size': 4}
Node: 11850280795
Attributes: {'size': 5}
Node: 5581878798
Attributes: {'size': 4}
Node: 2538365787
Attributes: {'size': 7}
Node: 10725941371
Attributes: {'size': 2}
Node: 2253729451
Attributes: {'size': 3}
Node: 3442025474
Attributes: {'size': 5}
Node: 185219244
Attributes: {'size': 1}
Node: 477965539
Attributes: {'size': 4}
Node: 1088167564
Attributes: {'size': 3}
Node: 56297591384
Attributes: {'size': 1}
Node: 371015387
Attributes: {'size': 1}
Node: 713314485
Attributes: {'size': 3}
Node: 2334049286
Attributes: {'size': 4}
Node: 597057799
Attributes: {'size': 3}
Node: 58260264872
Attributes: {'size': 1}
Node: 200717076
Attributes: {'size': 1}
Node: 1109815504
Attributes: {'size': 1}
Node: 1649683242
Attributes: {'size': 3}
Node: 1551171511
Attributes: {'size': 7}
Node: 1833643224
Attributes: {'size': 5}
Node: 58256805941
Attributes: {'size': 3}
Node: 50936227548
Attributes: {'size': 3}
Node: 5803859052
Attributes: {'size': 4}
Node: 761934499
Attributes: {'size': 7}
Node: 50483138407
Attributes: {'size': 5}
Node: 2030063983
Attributes: {'size': 4}
Node: 56894311565
Attributes: {'size': 1}
Node: 4401322172
Attributes: {'size': 5}
Node: 3213029140
Attributes: {'size': 7}
Node: 3662634574
Attributes: {'size': 2}
Node: 6066515927
Attributes: {'size': 4}
Node: 970260212
Attributes: {'size': 7}
Node: 2045670253
Attributes: {'size': 2}
Node: 30989427735
Attributes: {'size': 1}
Node: 332849787
Attributes: {'size': 2}
Node: 1028011269
Attributes: {'size': 3}

In [55]:
net.from_nx(G)
html = net.generate_html()
with open("visualizations/top_pages_network.html", mode='w', encoding='utf-8') as fp:
        fp.write(html)

Preliminary visualization showed that there are pages that are different in **theme** and they seem to be **grouping** together. Let's explore these communities and relationships between them

### Exploring communities

In [56]:
# Self join pairs_with_100_following on id to find shared followers between pages 
pairs_with_shared_followers = pairs_with_100_following[['top_friend_username', 'id']].merge(pairs_with_100_following[['top_friend_username', 'id']], on='id', suffixes=('_source', '_target'))
pairs_with_shared_followers

       top_friend_username_source          id top_friend_username_target
0                   frames__store   191716116              frames__store
1                   frames__store   191716116                       nasa
2                   frames__store   191716116               tbilisi_pike
3                   frames__store   191716116         plantloverstbilisi
4                            nasa   191716116              frames__store
...                           ...         ...                        ...
126143                   b.azzzar  1028011269                 matters.ge
126144                   b.azzzar  1028011269              printshop_jpg
126145                   b.azzzar  1028011269              retro_bazaari
126146                   b.azzzar  1028011269        the_arthousegallery
126147                   b.azzzar  1028011269                   b.azzzar

[126148 rows x 3 columns]

In [57]:
unique_pairs = pairs_with_shared_followers[pairs_with_shared_followers['top_friend_username_source'] != pairs_with_shared_followers['top_friend_username_target']]
unique_pairs

       top_friend_username_source          id top_friend_username_target
1                   frames__store   191716116                       nasa
2                   frames__store   191716116               tbilisi_pike
3                   frames__store   191716116         plantloverstbilisi
4                            nasa   191716116              frames__store
6                            nasa   191716116               tbilisi_pike
...                           ...         ...                        ...
126142                   b.azzzar  1028011269       cinemaholics.tbilisi
126143                   b.azzzar  1028011269                 matters.ge
126144                   b.azzzar  1028011269              printshop_jpg
126145                   b.azzzar  1028011269              retro_bazaari
126146                   b.azzzar  1028011269        the_arthousegallery

[120972 rows x 3 columns]

In [58]:
# Sorting values to make sure there are no reverse pairs
relationship_df = pd.DataFrame(np.sort(unique_pairs[['top_friend_username_source', 'top_friend_username_target']].values, axis = 1), columns = unique_pairs[['top_friend_username_source', 'top_friend_username_target']].columns)
relationship_df

       top_friend_username_source top_friend_username_target
0                   frames__store                       nasa
1                   frames__store               tbilisi_pike
2                   frames__store         plantloverstbilisi
3                   frames__store                       nasa
4                            nasa               tbilisi_pike
...                           ...                        ...
120967                   b.azzzar       cinemaholics.tbilisi
120968                   b.azzzar                 matters.ge
120969                   b.azzzar              printshop_jpg
120970                   b.azzzar              retro_bazaari
120971                   b.azzzar        the_arthousegallery

[120972 rows x 2 columns]

In [59]:
# Value represents shared follower
relationship_df['value'] = 1

In [60]:
relationship_df = relationship_df.groupby(['top_friend_username_source', 'top_friend_username_target']).sum().reset_index()
relationship_df

     top_friend_username_source top_friend_username_target  value
0                      2muchuse                       9gag     16
1                      2muchuse                 anoukigold     32
2                      2muchuse                  atinati__     22
3                      2muchuse                   b.azzzar     32
4                      2muchuse                 badgalriri     26
...                         ...                        ...    ...
4944          vinylcafe_tbilisi         zelenskiy_official     16
4945          vinylcafe_tbilisi                    zendaya     26
4946              voguemagazine         zelenskiy_official     38
4947              voguemagazine                    zendaya     60
4948         zelenskiy_official                    zendaya     44

[4949 rows x 3 columns]

In [62]:
relationship_df_sorted = relationship_df.sort_values(by ='value', ascending=False)
relationship_df_sorted

     top_friend_username_source top_friend_username_target  value
2199              frames__store            magnoliafilmlab    196
2218              frames__store          retro_camera_shop    182
2247              frames__store                    zendaya    174
870                  bellahadid              frames__store    172
2190              frames__store              kendalljenner    172
...                         ...                        ...    ...
1011               billieeilish       studiovision.tbilisi      2
3851               magnumphotos                 tbiliniavi      2
4673               sportsmoodco       studiovision.tbilisi      2
649                  balenciaga       studiovision.tbilisi      2
2082               filmthusiast                 tbiliniavi      2

[4949 rows x 3 columns]

In [80]:
relationship_df_short = relationship_df_sorted[relationship_df_sorted['value']>=40]
relationship_df_short

     top_friend_username_source top_friend_username_target  value
2199              frames__store            magnoliafilmlab    196
2218              frames__store          retro_camera_shop    182
2247              frames__store                    zendaya    174
870                  bellahadid              frames__store    172
2190              frames__store              kendalljenner    172
...                         ...                        ...    ...
4027                 matters.ge                tavisupleba     40
3256                 johnnydepp                       nasa     40
3451              kimkardashian                  tchalamet     40
3517                     kvara7                    zendaya     40
4032                 matters.ge               tbilisi_pike     40

[518 rows x 3 columns]

In [81]:
# Create a graph from a pandas dataframe
H = nx.from_pandas_edgelist(relationship_df_short, 
                            source = "top_friend_username_source", 
                            target = "top_friend_username_target", 
                            edge_attr = "value", 
                            create_using = nx.Graph())

In [82]:
# Create community tags
communities = community_louvain.best_partition(H)
communities

{'frames__store': 0,
 'magnoliafilmlab': 1,
 'retro_camera_shop': 1,
 'zendaya': 4,
 'bellahadid': 3,
 'kendalljenner': 4,
 'tbilisi_pike': 1,
 'nasa': 4,
 'tavisupleba': 1,
 'fake.film.shop': 1,
 'formulaoriginals': 1,
 'the_goodfilms': 2,
 'celestial.09': 2,
 'natgeo': 1,
 'tchalamet': 4,
 'meraki.ge': 0,
 'indigo_magazine': 1,
 'bohista.tribal': 0,
 'kyliejenner': 4,
 'selenagomez': 4,
 'hammockmagazine': 1,
 'gigihadid': 4,
 'kvara7': 1,
 'people_tbilisi': 1,
 'printshop_jpg': 1,
 'voguemagazine': 4,
 'khaleniwear': 0,
 'badgalriri': 4,
 'glammerr_store': 0,
 'matters.ge': 0,
 'tavrieli_': 0,
 'tomholland2013': 4,
 'harrystyles': 4,
 'the_arthousegallery': 1,
 'jenniferaniston': 4,
 'cinemamonamourpage': 2,
 'buddyshoptbilisi': 0,
 'balenciaga': 3,
 'mathilda.gvarliani': 1,
 'booksfrompast': 1,
 'paulinewears': 0,
 '9gag': 1,
 'fid_____el': 0,
 '2muchuse': 0,
 'haileybieber': 4,
 'vintage.moduss': 0,
 'johnnydepp': 4,
 'zelenskiy_official': 1,
 'soso_aroundtheworld': 0,
 'sukhishvilebiofficial': 1,
 'bohista.vintage': 0,
 'inspiration.tbilisi': 0,
 'anoukigold': 3,
 'billieeilish': 4,
 'studiovision.tbilisi': 0,
 'cinemaholics.tbilisi': 0,
 'bandbedfordfalls': 3,
 'phoenixtiflis': 1,
 'saukuno_ukuni': 1,
 'her.storeofficial': 2,
 'dualipa': 4,
 'hunterschafer': 4,
 'blakelively': 4,
 'milliebobbybrown': 4,
 'b.azzzar': 0,
 'plantloverstbilisi': 0,
 'demnagram': 3,
 'magnumphotos': 1,
 'tbilisi.open.air': 1,
 'glamousy': 0,
 'kimkardashian': 4,
 'tbiliniavi': 3,
 'shantay._vintage._shop': 0,
 'tbilisi_movie_nights': 0,
 'louisa_s': 1,
 'retro_bazaari': 0,
 'vinylcafe_tbilisi': 0,
 'takonats': 3,
 'veli.store': 0,
 'rebel__vintage': 2,
 'llttffrr': 1,
 'vancityreynolds': 4,
 'atinati__': 0,
 'filmthusiast': 2,
 'robertdowneyjr': 4,
 'mileycyrus': 4,
 'lilyrose_depp': 4,
 'in.a.relationship.with.freedom': 2,
 'vinstyleshop': 0,
 'sydney_sweeney': 3,
 'nina.nayko': 0,
 'jacquemus': 0,
 'lechicradical': 0,
 'basssiani': 0,
 'gucci': 3,
 'irinashayk': 4,
 'sportsmoodco': 0,
 'mariam_nakani_photographer': 0,
 'marketer.ge': 0,
 'tes_club_': 0}

In [83]:
nx.set_node_attributes(H, communities, 'group')
net = Network(notebook = True,
            cdn_resources='in_line', 
            width="1000px", 
            height="700px", 
            bgcolor='#ffffff', 
            font_color='black',
            select_menu=True,
            filter_menu=True)

net.show_buttons()
net.toggle_physics(True)

node_degree = dict(H.degree)

#Setting up node size attribute
nx.set_node_attributes(H, node_degree, 'size')

net.from_nx(H)

In [84]:
html = net.generate_html()
with open("visualizations/communities.html", mode='w', encoding='utf-8') as fp:
        fp.write(html)